---
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: true
IndentCaseBlocks: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  AfterFunction: true
  AfterControlStatement: Never
  BeforeElse: false
  BeforeWhile: false
  AfterCaseLabel: false
  AfterNamespace: true
  AfterExternBlock: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"(.*)"'
    Priority:        1
  - Regex:           '^<(.*)'
    Priority:        2
SortIncludes: CaseSensitive

# Configuration pour les listes d'initialisation
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: false  # Changé à false pour préserver l'espacement
SpacesInContainerLiterals: true  # Ajouté pour l'espacement dans les accolades
PackConstructorInitializers: Never  # Ajouté pour éviter la compaction
ConstructorInitializerIndentWidth: 4
AlignOperands: AlignAfterOperator

SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: false

AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 100
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true

FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true
SpacesInSquareBrackets: false